body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

#post-form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
}

#post-form input[type="file"] {
  margin-bottom: 10px;
}

#post-form button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.post {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

.post header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post header h2 {
    margin: 0;
}

.post header p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.post-content p {
  margin-bottom: 10px;
}

.post-content img {
  max-width: 100%;
  margin-bottom: 10px;
}

.like-btn {
  background-color: #ebd0d0;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

#search-form {
  display: flex;
}

#search-form input[type="search"] {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
}

#search-form button {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
