{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>people_connect</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="">
        <h1 class="root">Welcome to People Connect</h1><br>
        <button>
            <a href="{% url 'account' user.username %}">View profile</a>
        </button>

        <form method="POST" action="/search">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Sraerch people">
            <button type="submit">Go</button>
        </form>
          

        <div class="posts-feed">
            {% for post in posts reversed %}
            <h5>@{{ post.user }} </div><br>
            <img width="500px" height="500px" src=" {{ post.image.url }}" alt="post"><br>
            </h5> {{ post.caption }}</h5><br>
            <a href="/like-post?post_id={{post.id}}">Like</a>
            <div>
                {% if post.no_of_likes == 0 %}
                <p>No likes</p>
                {% elif post.no_of_likes == 1 %}
                <p>Liked by {{post.no_of_likes}} person</p>
                {% else %}
                <p>Liked by {{post.no_of_likes}} people</p>
                {% endif %}
                {% endfor %}
            </div>
        </div>

        <form action="upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="upload_image">
            <textarea name="caption" placeholder="Caption"></textarea>
            <button type="submit">Upload</button>
        </form>
        <button><a href="/accounts_settings">Accounts Settings</a></button><br>

        <a href="logout">
            <button>Log out</button>
        </a>
    </div>
</body>
</html>