{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mutual</title>
</head>
<body>
    <h1>Mutual Followers</h1>


    {% block content %}
      <h1>Mutual Friends</h1>
      <p>Showing mutual friends for {{ user1.username }} and {{ user2.username }}</p>
      {% if mutual_friends %}
        <ul>
        {% for friend in mutual_friends %}
          <li>{{ friend.username }}</li>
        {% endfor %}
        </ul>
      {% else %}
        <p>No mutual friends found</p>
      {% endif %}
    {% endblock %}


</body>
</html>